

/* Main content */
.main {
    margin-top: 20px; /* Add a top margin to avoid content overlay */
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 99998;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav_active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

@import url(https://fonts.googleapis.com/css?family=Lato);

.outer {
    float: right;
}

.inner {
    right: 0;
}

#forum-post {
    border: 1px solid black;
    position: relative;
}

#forum-post.posts {
    float: right;
}

#portrait {
    height: 80px;
    width: 80px;
}
.profile-card{
    text-align: center;
}


.profile-bio{
    padding: 20px;
}

.profile-bio p{
    font-size: 14px;
    color: #555;
    text-align: center;
    font-weight: 300;
}

.profile-card {
    width: 500px;
    height: 500px;
    display: inline-block;
    border: 1px solid black;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-150px);
    -moz-transform: translateZ(-150px);
    transform: translateZ(-150px);
    -webkit-transition: -webkit-transform 350ms;
    -moz-transition: -moz-transform 350ms;
    transition: transform 350ms;
}

.profile-card:hover {
    -webkit-transform: rotateY(-78deg) translateZ(20px);
    -moz-transform: rotateY(-78deg) translateZ(20px);
    transform: rotateY(-78deg) translateZ(20px);
    border: 0px;

}

.profile-card header,
.profile-card .profile-bio,
.profile-social-links{
    position: absolute;
    width: 300px;
    height: 300px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.profile-card header,
.profile-card .profile-bio{
    background-color: #fff;
}
.profile-card header  {
    -webkit-transform: translateZ(150px);
    -moz-transform: translateZ(150px);
    transform: translateZ(150px);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-card .profile-bio{
    -webkit-transform: rotateY(90deg) translateZ(150px);
    -moz-transform: rotateY(90deg) translateZ(150px);
    transform: rotateY(90deg) translateZ(150px);
    border: 1px solid #B8B5B5;
    font-size: 0.75em;
}
.profile-social-links{
    -webkit-transform: rotateY(90deg) translateZ(151px);
    -moz-transform: rotateY(90deg) translateZ(151px);
    transform: rotateY(90deg) translateZ(151px);
}

.profile-card::after {
    content: '';
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 30px 50px rgba(0,0,0,0.3);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotateX(90deg) translateY(150px) translateX(-150px);
    -moz-transform: rotateX(90deg) translateY(150px) translateX(-150px);
    transform: rotateX(90deg) translateY(150px) translateX(-150px);
    -webkit-transition: box-shadow 350ms;
    -moz-transition: box-shadow 350ms;
    transition: box-shadow 350ms;
}

.profile-card:hover::after {
    box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
    -webkit-transform: rotateX(90deg) translateY(140px) translateX(-170px);
}

.profile-card header,
.profile-card .profile-bio{
    -webkit-transition: box-shadow 350ms;
    -moz-transition: box-shadow 350ms;
    transition: box-shadow 350ms;
}

.profile-card header {
    box-shadow: inset 0px 0px 40px rgba(0,0,0,.1);
}

.profile-card:hover header {
    box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}

.profile-card .profile-bio,
.profile-card .profile-social-links {
    box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.profile-card:hover .profile-bio,
.profile-card:hover .profile-social-links {
    box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {
  vertical-align: middle;
  max-height: 450px;
}

/* Slideshow container */
.slideshow-container {
  max-height: 450px;
  position: relative;
  margin: auto;
  margin-bottom: -30px;
}

/* Caption text */
.tagline {
  color: #f2f2f2;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0.5px;
  width: 100%;
  text-align: center;
  background: rgba(100, 100, 100, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.main-content {
    background-color: #f2f2f2;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    margin-top:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.videoWrapper {
	position: relative;
	padding-bottom: 30%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 7%;
	width: 86%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.videoComment{
  color: black;
  font-size: 14px;
  margin: auto;
  margin-top: 20px;
  width: 85%;
  text-align: left;
}

.homeContent {
  margin-top: 30px;
  margin-bottom: 110px;
}

.homeContent_photo {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.col-25 {
    float: left;
    width: 25%;
}

.col-75 {
    float: left;
    width: 75%;
}

.col-15 {
    float: left;
    width: 15%;
    margin-top: 6px;
}

.col-85 {
    float: left;
    width: 85%;
    margin-top: 2px;
}

.col-50 {
    width: 50%;
    margin-top: 6px;
}
.col-50-left {
  float: left;
    width: 50%;
    padding-top: 16px;
}
.col-50-right {
  float: right;
    width: 50%;
    padding-top: 16px;
}

.row{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 16px;
  margin:auto;
}

.row_login{
  background-color:#f1f1f1;
  height:60px;
  width:100%;
}

.row_profile{
  margin:auto;
}

.row_forum{
  padding: 10px 16px;
  position: relative;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: white;
  margin-left: 7%;
  margin-bottom: 30px;
}

.row_forum:after {
    content: "";
    display: table;
    clear: both;
}

.card_forum {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: white;
    margin-left: -45%;
    float:left;
    width:131%;
}


.card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: white;
    margin-left: -45%;
    float:left;
    width:131%;

}

.portrait {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 45%;
    margin-left: 14%;
}

.portrait_forum {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    text-align: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

.storyTitle{
  color: black;
  font-size: 14px;
  margin: auto;
  margin-top: 20px;
  width: 85%;
  text-align: left;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.storyWrapper {
  margin-top: 0px;
  margin-bottom: 110px;
}
.column {
  float: left;
  width:50%;
}


@media only screen and (min-width: 1170px) {
    header {
        height: 300px;
        line-height: 300px;
    }
    header h1 {
        font-size: 2.4rem;
    }
}

.cd-timeline {
    overflow: hidden;
    margin: 2em auto;
}

.cd-timeline__container {
    position: relative;
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 2em 0;
}

.cd-timeline__container::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .cd-timeline__container::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline__block {
    position: relative;
    margin: 2em 0;
}

.cd-timeline__block:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
}

.cd-timeline__block:first-child {
    margin-top: 0;
}

.cd-timeline__block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline__block {
        margin: 4em 0;
    }
}

#date {
    font-weight: bold;
    font-color: black;
}
.cd-timeline__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline__img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}

#timeline-header {
    margin-top: 10px;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}

.cd-timeline__img.cd-timeline__img--picture {
    background: #75ce66;
}

.cd-timeline__img.cd-timeline__img--movie {
    background: #c03b44;
}

.cd-timeline__img.cd-timeline__img--location {
    background: #f0ca45;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline__img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        /* Force Hardware Acceleration */
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    .cd-timeline__img.cd-timeline__img--bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.cd-timeline__content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
    -webkit-box-shadow: 0 3px 0 #d7e4ed;
    box-shadow: 0 3px 0 #d7e4ed;
    border: 2px black solid;
}

.cd-timeline__content:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
}

.cd-timeline__content::before {
    /* triangle next to content block */
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}

.cd-timeline__content h2 {
    color: black;
    font-weight: bold;
}

.cd-timeline__content p,
.cd-timeline__read-more,
.cd-timeline__date {
    font-size: 1.3rem;
}

.cd-timeline__content p {
    margin: 1em 0;
    line-height: 1.6;
}

.cd-timeline__read-more,
.cd-timeline__date {
    display: inline-block;
}

.cd-timeline__read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
}

.cd-timeline__read-more:hover {
    background-color: #bac4cb;
}

.cd-timeline__date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}

@media only screen and (min-width: 768px) {
    .cd-timeline__content h2 {
        font-size: 2rem;
    }
    .cd-timeline__content p {
        font-size: 1.6rem;
    }
    .cd-timeline__read-more,
    .cd-timeline__date {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline__content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
        /* Force Hardware Acceleration */
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    .cd-timeline__content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
    }
    .cd-timeline__read-more {
        float: left;
    }
    .cd-timeline__date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 1.6rem;
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__content {
        float: right;
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__read-more {
        float: right;
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cd-timeline__content.cd-timeline__content--bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    width:80%;
    margin-left: 7%;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.posts{
    background-color: cornflowerblue;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    width: 30px;
}

.forum_container{
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 80%;
}

.forum_container::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0px;
    left: 8%;
    margin-left: -3px;
}




.button_contact {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 30%;
}
.button_contact:hover {
  background-color: #555;
}
.story_container::after{
  content: "";
  clear: both;
  display: table;
}
.story_container {
  padding: 0 16px;
}
.title {
  color: grey;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.portrait:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.footer {
  bottom: 0;
  padding: 1rem;
  max-width: 1200px;
  text-align: center;
  font-size: 14px;
}




.loginScreen{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  overflow: auto; /* Enable scroll if needed */
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.3);
  position:center;
}

.login_button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 0px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 100%;
    display: inline-block;
}

/* Add a hover effect for buttons */
.login_button:hover {
    opacity: 0.8;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    float: left;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.login_container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}



input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.profile_container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
}

.container_add_member {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 62%;
    margin: auto;
    margin-right: -35px;
    float:right;
    position:relative;
}
.container_add {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 62%;
    margin: auto;
    margin-right: -35px;
    float:right;
    position:relative;
}

.page_row{
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin:auto;
}
/* Clear floats after the columns */
.page_row:after {
    content: "";
    display: table;
    clear: both;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Clear floats after the columns */
.add_column:after {
    content: "";
    display: table;
    clear: both;
}

.add_column{
  margin-top: 5px;
  padding: 50px;
}

/* Clear floats after the columns */
.profile_column:after {
    content: "";
    display: table;
    clear: both;
}

.profile_column{
  margin: 10px;
}


.profile_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin:auto;
  float: left;
  text-align: center;
  font-family: arial;
  padding:15px;
}

.add_member_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 24%;
  margin:auto;
  float: left;
  text-align: center;
  font-family: arial;
  padding:15px;
}

.profile_title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 90%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa {
    padding: 20px;
    padding-bottom: 5px;
    font-size: 15px;
    width: 10%;
    height: 10%;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.searchbox input[type=text] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px;
    margin-right: 4px;
    font-size: 17px;
}

.tree_col_left {
    float: left;
    width: 25%;
    padding-right: 15px;
}
.tree_col_middle {
    width: 50%;
    float: left;
    padding-right: 15px;

}
.tree_col_right {
    width: 20%;
    float: left;
}

.profile_info{
  text-align: left;
  padding-left: 10px;
}


.tree_card{
  text-align: center;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 10px;
}


.tree_row{
  padding-left: 5px;
  padding-right: 5px;
  margin:auto;
}
/* Clear floats after the columns */
.tree_row:after {
    content: "";
    display: table;
    clear: both;
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
}

.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.alert {
    padding: 20px;
    background-color: lightblue;
    color: black;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.tree_container{
  max-width: 1400px;
  margin-top: 40px;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;

  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .column {
    display: block;
  }
  .col-25, .col-75, .col-50{
    width: 100%;
    margin-top: 0;
  }
  .col-15, .col-85{
    width: 100%;
    margin:auto;
    margin-top: 0;
    text-align: center;
  }
  .row_profile{
    width: 100%;
  }
  input[type=submit] {
    width: 88%;
    margin-top: 0;
    float:none;
    text-align: center;
  }
  .add_column {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
    float:none;
  }
  .profile_container, .profile_card {
    margin-top: 10px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .container_add_member, .add_member_card{
    width: 100%;
    margin-top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    float:none;
  }
  .searchbox input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
  }
  .topnav input[type=text] {
      border: 1px solid #ccc;
  }
  .tree_col_right {
      width: 100%;
      padding-top: 20px;
  }
  .tree_col_left {
    width: 100%;
    padding-top: 20px;
  }
  .tree_col_middle{
    width: 100%;
    padding-top: 20px;
  }


    .well {
        margin-top:-20px;
        background-color:#007FBD;
        border:2px solid #0077B2;
        text-align:center;
        cursor:pointer;
        font-size: 25px;
        padding: 15px;
        border-radius: 0px !important;
    }

    .well:hover {
        margin-top:-20px;
        background-color:#0077B2;
        border:2px solid #0077B2;
        text-align:center;
        cursor:pointer;
        font-size: 25px;
        padding: 15px;
        border-radius: 0px !important;
        border-bottom : 2px solid rgba(97, 203, 255, 0.65);
    }

    body {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #fff;
        background-color: #F1F1F1;
    }



    .bg_blur
    {
        background-image:url('http://data2.whicdn.com/images/139218968/large.jpg');
        height: 300px;
        background-size: cover;
    }

    .follow_btn {
        text-decoration: none;
        position: absolute;
        left: 35%;
        top: 42.5%;
        width: 35%;
        height: 15%;
        background-color: #007FBE;
        padding: 10px;
        padding-top: 6px;
        color: #fff;
        text-align: center;
        font-size: 20px;
        border: 4px solid #007FBE;
    }

    .follow_btn:hover {
        text-decoration: none;
        position: absolute;
        left: 35%;
        top: 42.5%;
        width: 35%;
        height: 15%;
        background-color: #007FBE;
        padding: 10px;
        padding-top: 6px;
        color: #fff;
        text-align: center;
        font-size: 20px;
        border: 4px solid rgba(255, 255, 255, 0.8);
    }

    .header{
        color : #808080;
        margin-left:10%;
        margin-top:70px;
    }

    .picture{
        height:150px;
        width:150px;
        position:absolute;
        top: 75px;
        left:-75px;
    }

    .picture_mob{
        position: absolute;
        width: 35%;
        left: 35%;
        bottom: 70%;
    }

    .btn-style{
        color: #fff;
        background-color: #007FBE;
        border-color: #adadad;
        width: 33.3%;
    }

    .btn-style:hover {
        color: #333;
        background-color: #3D5DE0;
        border-color: #adadad;
        width: 33.3%;

    }


    @media (max-width: 767px) {
        .header{
            text-align : center;
        }



        .nav{
            margin-top : 30px;
        }
    }
}
